@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }
  
  body {
    @apply text-gray-900 antialiased selection:bg-blue-600 selection:text-white;
    font-feature-settings: "cv02", "cv05", "cv08", "cv09", "cv11";
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-100;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-300 rounded-full border-4 border-white hover:bg-gray-400 transition-colors;
}
